*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.img-box {
  margin: 20px 0;
}

.task-container {
  background-color: rgb(193, 193, 193);
  /* min-height: 300px; */
  margin-top: 40px;
  border-radius: 10px;
}

.task-container ul {
  text-align: left;
  list-style: none;
  padding: 30px 45px;
}

.task-container ul li {
  border-bottom: 1px solid lightgray;
  padding: 10px 5px;
  cursor: pointer;
}

.task-container ul li i {
  float: right;
}

.task-container ul li:hover {
  background-color: white;
}

/*
5. Creo la classe css stroked
*/
.stroked {
  text-decoration:line-through
}